In [1]:
import tweepy as tw
import pandas as pd

In [2]:
CONSUMER_KEY = '*****************'
CONSUMER_SECRET = '*****************'
ACCESS_TOKEN = '*****************'
ACCESS_TOKEN_SECRET = '*****************'
BEARER_TOKEN = '*****************'

In [3]:
cliente = tw.Client(bearer_token=BEARER_TOKEN, consumer_key=CONSUMER_KEY, consumer_secret=CONSUMER_SECRET, access_token=ACCESS_TOKEN, access_token_secret=ACCESS_TOKEN_SECRET)

In [4]:
START = '2022-07-24T10:00:01Z' # YYYY-MM-DDTHH:mm:ssZ
END = '2022-07-30T20:20:01Z'

In [5]:
resposta = cliente.search_recent_tweets(query='Stranger Things', start_time=START, end_time=END, max_results=100)
tweets = resposta.data

In [6]:
tweets[0]

In [7]:
tweets[0].text

'RT @zingingcutiee23: 2 months since Stranger Things premiered and I still have to read tweets about Eddie Munson everyday. ENOUGH ALREADY'

In [15]:
base = []
for el in tweets:
    rt_count = False
    line = [0 for j in range(12)]
    line[0] = el.text
    texto = el.text
    if 'RT' in texto:
        pos = texto.find(':')
        texto = texto[pos + 2]
        rt_count = True
        
    line[1] = 1 if ('eddie' in texto.lower()) else 0
    line[2] = 1 if ('eleven' in texto.lower() or 'el' in texto.lower()) else 0
    line[3] = 1 if ('max' in texto.lower()) else 0
    line[4] = 1 if ('dustin' in texto.lower()) else 0
    line[5] = 1 if ('will' in texto.lower()) else 0
    line[6] = 1 if ('mike' in texto.lower()) else 0
    line[7] = 1 if ('vecna' in texto.lower()) else 0
    line[8] = 1 if ('robin' in texto.lower()) else 0
    line[9] = 1 if ('nancy' in texto.lower()) else 0
    line[10] = 1 if ('steven' in texto.lower()) else 0
    line[11] = 1 if (rt_count == True) else 0
    base.append(line)

In [19]:
base_stranger_things = pd.DataFrame(base)
base_stranger_things.columns = ['text', 'eddie', 'eleven', 'max', 'dustin', 'will', 'mike', 'vecna', 'robin', 'nancy', 'steven', 'RT']
display(base_stranger_things)

,text,eddie,eleven,max,dustin,will,mike,vecna,robin,nancy,steven,RT
0,RT @zingingcutiee23: 2 months since Stranger T...,0,0,0,0,0,0,0,0,0,0,1
1,Teen Wolf I guess et maybe The 100 ou Stranger...,0,0,0,0,0,0,0,0,0,0,0
2,"RT @LeaksDbd: In fact, due to new info that we...",0,0,0,0,0,0,0,0,0,0,1
3,RT @backendoc: gravity falls walked so strange...,0,0,0,0,0,0,0,0,0,0,1
4,RT @panghahawakan: hey remember when stranger ...,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95,@Metallica @Stranger_Things @lollapalooza Eddi...,1,0,0,0,0,0,0,0,0,0,0
96,RT @backendoc: gravity falls walked so strange...,0,0,0,0,0,0,0,0,0,0,1
97,RT @backendoc: gravity falls walked so strange...,0,0,0,0,0,0,0,0,0,0,1
98,RT @mitsukileaks: they dont explore trauma muc...,0,0,0,0,0,0,0,0,0,0,1
99,RT @backendoc: gravity falls walked so strange...,0,0,0,0,0,0,0,0,0,0,1

In [21]:
base_count = base_stranger_things.drop(['text', 'RT'], axis=1) # axis=1 é coluna

In [30]:
contagem = base_count.sum().sort_values(ascending=False).to_list()
contagem

[5, 2, 1, 0, 0, 0, 0, 0, 0, 0]

In [38]:
personagens = base_count.sum().sort_values(ascending=False).index.to_list()
personagens

['eleven',
 'will',
 'eddie',
 'max',
 'dustin',
 'mike',
 'vecna',
 'robin',
 'nancy',
 'steven']

In [36]:
tabela = pd.DataFrame(zip(personagens, contagem)) # zip junta duas listas
tabela.columns = ['personagens', 'tweets']
tabela

  personagens  tweets
0      eleven       5
1        will       2
2       eddie       1
3         max       0
4      dustin       0
5        mike       0
6       vecna       0
7       robin       0
8       nancy       0
9      steven       0

In [37]:
total_contagem = tabela['tweets'].sum()
total_contagem

8